version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: neondb_owner
      POSTGRES_PASSWORD: npg_QtB4N3DZdiVs
      POSTGRES_DB: neondb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - health-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://neondb_owner:npg_QtB4N3DZdiVs@postgres:5432/neondb
      NODE_ENV: development
      JWT_SECRET: your_jwt_secret_key
      PORT: 5000
    depends_on:
      - postgres
    networks:
      - health-network
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: https://helth-api.vercel.app/api
    depends_on:
      - server
    networks:
      - health-network
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data:


networks:
  health-network:
    driver: bridge
